<div class="dark-wrapper intro">
    <div class="container inner">
        <h1> We're Keepsake, a digital & branding agency </h1>
        <p>Specializing in web design, poster, motion video, based in London. We love to turn ideas into beautiful things.</p>
    </div>
    <!--/.container -->
</div>
<!--/.intro -->
<!--transmission from servicesDirective-->
<div class="container inner">
    <div class="divide100"></div>
    <div services-directive title="services-directive"></div>
</div>
<!--/.container -->


<div class="parallax parallax3">
    <div class="container inner text-center">
        <h2>Parallax Section</h2>
        <div class="lead large text-center">posuere erat venenatis dapibus posuere velit aliquet</div>
        <div class="text-center"><a href="http://vimeo.com/24496773" class="fancybox-media btn btn-white">Watch Video with Lightbox</a></div>
    </div>
    <!-- /.container -->
</div>
<!-- /.parallax -->

<div class="container inner">
    <h3 class="section-title">From Our Journal</h3>
    <div class="latest-blog-wrapper">
        <div class="latest-blog isotope isotope js-isotope row" data-isotope-options='{ "layoutMode": "fitRows", "itemSelector": ".post" }'>
            <div class="post col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <figure> <a href="blog-post.html">
                            <div class="text-overlay">
                                <div class="info"><span>Read More</span></div>
                            </div>
                            <img src="app/assets/images/art/b1.jpg" alt="" /></a></figure>
                    </div>
                    <div class="col-sm-8 post-content">
                        <div class="meta"><span class="date">13 Nov, 2012</span><span class="comments"><a href="#">8 <i class="icon-chat-1"></i></a></span></div>
                        <h3 class="post-title"><a href="blog-post.html">Adipiscing Mollis Inceptos</a></h3>
                        <p>Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis curabitur blandit.</p>
                    </div>
                </div>
                <!--/.row -->
            </div>
            <!--/.post -->
            <div class="post col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <figure><a href="blog-post.html">
                            <div class="text-overlay">
                                <div class="info"><span>Read More</span></div>
                            </div>
                            <img src="app/assets/images/art/b2.jpg" alt="" /></a></figure>
                    </div>
                    <div class="col-sm-8 post-content">
                        <div class="meta"><span class="date">02 Jan, 2013</span><span class="comments"><a href="#">5 <i class="icon-chat-1"></i></a></span></div>
                        <h3 class="post-title"><a href="blog-post.html">Adipiscing Mollis Inceptos</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus.</p>
                    </div>
                </div>
                <!--/.row -->
            </div>
            <!--/.post -->
            <div class="post col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <figure><a href="blog-post.html">
                            <div class="text-overlay">
                                <div class="info"><span>Read More</span></div>
                            </div>
                            <img src="app/assets/images/art/b3.jpg" alt="" /></a></figure>
                    </div>
                    <div class="col-sm-8 post-content">
                        <div class="meta"><span class="date">14 Mar, 2013</span><span class="comments"><a href="#">9 <i class="icon-chat-1"></i></a></span></div>
                        <h3 class="post-title"><a href="blog-post.html">Tristique Purus Pharetra</a></h3>
                        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet.</p>
                    </div>
                </div>
                <!--/.row -->
            </div>
            <!--/.post -->
            <div class="post col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-4">
                        <figure><a href="blog-post.html">
                            <div class="text-overlay">
                                <div class="info"><span>Read More</span></div>
                            </div>
                            <img src="app/assets/images/art/b4.jpg" alt="" /></a></figure>
                    </div>
                    <div class="col-sm-8 post-content">
                        <div class="meta"><span class="date">23 Dec, 2013</span><span class="comments"><a href="#">6 <i class="icon-chat-1"></i></a></span></div>
                        <h3 class="post-title"><a href="blog-post.html">Inceptos Porta Nibh</a></h3>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor. Cras justo odio, dapibus ac facilisis in.</p>
                    </div>
                </div>
                <!--/.row -->
            </div>
            <!--/.post -->
        </div>
        <!--/.latest-blog -->
    </div>
    <!--/.latest-blog-wrapper -->

</div>
<!--/.container -->

<div class="dark-wrapper">
    <div class="container inner text-center">
        <p class="lead">Would you like to work with us?</p>
        <a href="contact.html" class="btn"><i class="icon-paper-plane"></i> Contact Us</a>
    </div>
</div>
<!--/.dark-wrapper -->
